* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #2d2d2d;
    background-color: whitesmoke;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #ee66ff;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

.avatar {
    max-width: 20px;
}





